.t-body {
    display: flex;
    max-width: 1920px;
    flex-direction: column; /* Display items in a column */
    align-items: center; /* Center items horizontally */
    justify-content: flex-start; /* Center items vertically */
    overflow-x: hidden;
}
  
.t-person-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    justify-content: space-between;
    color: #333;
    /* width: 100%; */
    width: 1200px;
    padding: 20px;
    border-bottom: 1px solid #333;
    text-align: center; 
}
  
.t-chat-icon {
    color: #333;
    cursor: pointer;
}

.t-student{
    border: none;
}

.t-icons{cursor: pointer;}